#gallery{
    border: 1px solid black;
    margin: 25px;
    display: flex;
    columns: 2;
    flex-basis: 33%;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.IndividualCard:hover {
    border: 3px solid black;
}